/*обнуление стилей*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*общие стили*/

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

section {
    background: #FFFFFF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 1170px;
    height: 800px;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
    background: #FFFFFF;
    padding: 60px 0 70px;
    display: flex;
}

.image-card {
    border-right: 2px solid rgba(20, 20, 20, 0.15);
    min-width: 540px;
    display: flex;
    flex-direction: column;
}

.main-image {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.preview {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.preview:hover {
    box-shadow: 8px 8px 16px 0px rgba(81, 91, 117, 0.25);
}

.preview.selected {
    box-shadow: 8px 8px 16px 0px rgba(81, 91, 117, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content {
    padding: 0 60px;
}

.main-title {
    color: rgba(20, 20, 20, 0.9);
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 1px;
    margin-bottom: 5px;

}

.subtitle {
    color: rgba(20, 20, 20, 0.4);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1px;

}

.text {
    color: rgba(20, 20, 20, 0.7);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 60px;
    margin-bottom: 65px;

}

.title {
    color: rgba(20, 20, 20, 0.4);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.blue {
    box-shadow: 2px 2px 4px 0px rgba(81, 91, 117, 0.25);
    background: rgb(1, 60, 125);
}

.green {
    box-shadow: 2px 2px 4px 0px rgba(81, 91, 117, 0.25);
    background: rgb(99, 203, 167);
}

.red {
    box-shadow: 2px 2px 4px 0px rgba(81, 91, 117, 0.25);
    background: rgb(213, 47, 41);
}

.black {
    box-shadow: 2px 2px 4px 0px rgba(81, 91, 117, 0.25);
    background: rgb(20, 20, 20);
}

.yellow {
    box-shadow: 2px 2px 4px 0px rgba(81, 91, 117, 0.25);
    background: rgb(242, 199, 35);
}

li.selected {
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 6px 0px rgba(81, 91, 117, 0.25);
    background: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.colors-guidance > li {
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.colors-guidance > li:hover {
    box-shadow: 2px 2px 6px 0px rgba(81, 91, 117, 0.25);
}

.wrapper {
    display: flex;
    margin: 65px 0 75px;
}

.wrapper-quantity {
    flex-grow: 1;
}

.wrapper-price {
    flex-grow: 1;
}

.quantity {
    width: 80px;
    color: rgba(20, 20, 20, 0.8);
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    appearance: none;
    background-image: url("./assets/images/ph_caret-down-bold.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    cursor: pointer;

}

.price {
    color: rgba(20, 20, 20, 0.8);
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn {
    width: 100%;
    height: 70px;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background: cornflowerblue;
    color: black;
}




